@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    font-family: 돋움, Dotum;
    font-size: 13px;
}

#mini_board {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

#mini_board>div {
    border: 1px solid #888;
    display: inline-block;
    width: 40%;
    margin: 0 20px;
}

#mini_board>div>#title {
    background: #eee;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}

#mini_board>div>#title>div {
    display: inline-block;
    float: right;
    border: 1px solid black;
    width: 15px;
    color: #888;
    border-color: #888;
}

#mini_board>div>table {
    width: 98%;
    border-collapse: collapse;
    line-height: 1.5em;
    margin: 1%;
}

#mini_board>div>table>tbody>tr {
    width: 100%;
}

#mini_board>div>table>tbody>tr>td:nth-child(1) {
    width: 65%;
    text-align: left;
    font-size: 14px;
}

#mini_board>div>table>tbody>tr>td:nth-child(2) {
    width: 5%;
}

#mini_board>div>table>tbody>tr>td:nth-child(3) {
    text-align: right;
}

#mini_board>div>table>tbody>tr:hover {
    background: #99b2ff;
}

#container {
    margin: 20px;
}