@charset "UTF-8";
#header * {
    font-size: 13px;
}

#header {
    width: 100%;
    background-color: #99b2ff;
}

#header>div {
    display: inline-flex;
    color: white;
    width: 70px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin: 5px 3px;
}

#header>div:nth-child(2) {
    float: right;
}

#header>div:nth-child(3) {
    float: right;
}

#header>div:nth-child(4) {
    float: right;
}

#header>div:nth-child(5) {
    float: right;
}

#header>div:hover {
    color: orange;
    border-color: orange;
}